div.dashboard {
	background-color: #535353;
	color: white;

    margin: auto;
    position: relative;

	width: 50%;
	height: auto;

	display: flex;
	flex-direction: column;

	table {
		tbody {
			tr {
				background-color: rgb(186, 186, 186);
				td {
					text-align: center;
				}
			}
		}
	}
}